/* insert custom font */
@font-face {
    font-family: "lovelo-bold";
    src: url(../fonts/Lovelo/Lovelo-LineBold.eot), url(../fonts/Lovelo/Lovelo-LineBold.otf), url(../fonts/Lovelo/Lovelo-LineBold.ttf), url(../fonts/Lovelo/Lovelo-LineBold.woff), url(../fonts/Lovelo/Lovelo-LineBold.svg);
}

@font-face {
    font-family: "lovelo-light";
    src: url(../fonts/Lovelo/Lovelo-LineLight.eot), url(../fonts/Lovelo/Lovelo-LineLight.otf), url(../fonts/Lovelo/Lovelo-LineLight.ttf), url(../fonts/Lovelo/Lovelo-LineLight.woff), url(../fonts/Lovelo/Lovelo-LineLight.svg);
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    background: linear-gradient(to bottom left, #9fcaec 0%, #cbb5db 25%, #edaac9 50%, #f9ccb7 100%);
    background-color: #cbb5db;
}

header {
    margin-bottom: 30px;
    text-align: center;
}

h1 {
    font-size: 100px;
    font-family: "lovelo-bold";
    color: #ffffff;
    margin-bottom: -40px;
}

h2 {
    padding-left: 450px;
    font-size: 60px;
    font-family: "lovelo-light";
    color: #000000;
}

#song-title {
    margin: 0 auto;
    text-align: center;
    font-family: "lovelo-light";
    font-size: 40px;
    padding-bottom: 10px;
    max-width: 960px;
}

.container {
    margin: 0 auto;
    width: 960px;
    height: 500px;

    border-style: double;
    border-color: #ffffff;
    border-width: 4px;

    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#image-section {
    width: 50%;
    float: left;
    height: 100%;

    border-right-style: double;
    border-right-color: #ffffff;
    border-right-width: 4px;
}

#game-section {
    width: 50%;
    height: 100%;
    float: right;

    border-left-style: double;
    border-left-color: #ffffff;
    border-left-width: 4px;

    padding: 30px;
}

/* prevents floated objects from overflowing the container "section" */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#instructions {
    padding-bottom: 15px;
}

#kpop-image {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 95%;
    max-height: 92%;
}